* {
    margin: 0;
    padding: 0;
    
    font-family: 'league spartan' sans-serif;
}

body{
    width: 100%;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover{
    color: #088178 
}

/* Banner */

.banner{
    background-image: url("/img/Devbanner.png");
    height: 45vh;
    width: 100%;
    background-size: cover;
    background-position: top 60% right;
}

/* Título: Medicamentos */
.titulo{
    width: 500px;
    padding: 30px;
    margin-left: 30rem;
}

.titulo h1{
    box-shadow: 5px 5px 30px rgb(169, 255, 206);
    padding: 10px;
    color: #088178;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}


/* Cards > Main */

.conteudo-principal {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conteudo-principal .cards{
    width: 200px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.07);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

.conteudo-principal .cards:hover{
    box-shadow: 10px 0px 44px rgba(0, 221, 255, 0.294);
}

/* .conteudo-principal .cards span {
    padding-top: 50px;
    
} */

.conteudo-principal .cards .remedio{
    width: 80px;
}

.conteudo-principal .cards h6{
    font-weight: 700;
    font-size: 25px;
    padding: 4px;
    line-height: 1;
    border-radius: 4px;
    color: #ff0000;
    background-color: #ddf4fd
}

.conteudo-principal .cards h4{
    font-weight: 400;
    font-size: 22px;
    margin: 5px;
}

.conteudo-principal .cards .botao-comprar{
    width: 200px;        
}

.button{
    display: flexbox;
    background-color: #ff0d0d;
    padding: 2px;
    margin-left: 50px
    box-shadow: 5px 5px 30px rgb(222, 60, 255);
}

.button button a{
    font-size: 20px;
    font-family: 'league spartan', Courier, monospace;
    font-weight: 600;
    padding: 15px;
    padding-top: 5px;
    text-decoration: none;
}

/* Quem somos */

#quem-somos h1{
    margin-top: 30px;
    margin-left: 30rem;
    margin-right: 30rem;
    display: grid;
    position: relative;
    padding-top: 30rem;
}

#quem-somos h1{
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 30px rgb(169, 255, 206);
    padding: 5px 10px;
    color: #088178;
    font-size: 26px;
}

#quem-somos p{
    text-align: justify;
    margin: 50px;
    color: #1a1a1a;
    font-size: 18px;
}

/* Redes Sociais */

.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 30px rgb(255, 190, 190);
    padding: 2px;
    margin-bottom: 40px;
}

.redes-sociais h4{
    color: #088178;
    font-size: 18px;
}

.redes-sociais .icones{    
    padding: 2rem;
}

.redes-sociais img{
    width: 30px; 
    margin: 1rem;
}

.redes-sociais img:hover{
    box-shadow: 5px 10px 30px rgb(27, 255, 87);
}

/* Footer */

.footer{
    background-color: #429b7c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .elementos-footer{   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    margin-left: 50px;
    box-shadow: 5px 10px 10px rgb(183, 185, 249);
    border-top-left-radius: 10px;
    
}
.footer span{
    margin: 20px;
    color: white;
}

.footer p{
    margin-right: 20px;
    color: white;
}

.footer iframe{
    width: 400px;
    height: 250px;
    margin: 40px;  
    border-radius: 10px;
}

.footer h2{
    padding: 20px;
    color: white;
}

/* Formulário */

.formulario {
    margin-left: 28rem;
    width: 400px;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 5px 20px 30px rgb(183, 185, 249);
  }
  
  .formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formulario input,
  .formulario select,
  .formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario input[type="submit"] {
    background-color: #4ed34e;
    color: white;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #43c443;
  }
  
  .formulario textarea {
    height: 100px;
  }
  
  .formulario input[type="checkbox"] {
    display: inline-block;
    margin-top: 5px;
  }
  
  .formulario input[type="checkbox"]+label {
    display: inline-block;
    font-weight: normal;
    margin-left: 5px;
  }