* {
    margin: 0;
    padding: 0;
    
    font-family: 'league spartan' sans-serif;
}

body{
    width: 100%;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
}

.navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover{
    color: #088178 
}

/* Banner */

.banner{
    background-image: url("/img/Devbanner.png");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: top 60% right;
}